{
	"extends": ["plugin:@wordpress/eslint-plugin/recommended"],
	"ignorePatterns": ["webpack.config.js", "dist/*"],
	"rules": {
		"prettier/prettier": [
			"error",
			{
				"semi": true,
				"singleQuote": true,
				"trailingComma": "es5"
			}
		]
	}
}
