name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  phpunit:
    name: PHPUnit
    runs-on: ubuntu-latest

    env:
      COMPOSER_TOKEN: ${{ secrets.YARD_BOT_PAT }}

    strategy:
      fail-fast: false
      matrix:
        include:
          - php-version: '8.1'
            dependency-versions: 'highest'

          - php-version: '8.2'
            dependency-versions: 'highest'

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          coverage: none

      - name: Install PHP_CodeSniffer
        run: composer global require squizlabs/php_codesniffer --no-progress --no-suggest

      - name: Install composer dependencies
        uses: ramsey/composer-install@v2
        with:
          dependency-versions: ${{ matrix.dependency-versions }}
          composer-options: "--prefer-dist --no-progress --no-suggest"
          github-token: ${{ secrets.YARD_BOT_PAT }}


      # - name: Run PHPUnit
      #   run: vendor/bin/phpunit tests
